.Header {
    position: absolute;
    bottom: $spacing-m;
    left: 50%;

    transform: translateX(-50%);

    display: flex;
    justify-content: center;

    z-index: 1000;

    .Nav {
        padding: $lr-padding;

        ul {
            display: flex;
            column-gap: 20px;

            padding: $spacing-s $spacing-m;

            border-radius: 10px;

            li a {
                color: $c-main;
                font-family: $font-secondary;
                font-size: $text-xl;
                text-transform: uppercase;
            }
        }
    }
}
